# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.venv/
venv/
*.sqlite3

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.local

# Frontend
node_modules/
dist/
build/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Docker
docker-compose.override.yml
backend/netmap/settings_local.py
